*{
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

.logo-title{
	color: $header-font-color;
	@include font-size(48);
	margin: 20px auto;
	text-transform: uppercase;
	width: $content-width;
}

.wrapper{
	margin: 0 auto;
	width: 960px;
}

.main-content{
	background-color: $background-content;
	box-sizing: border-box;
	float: left;
	margin: -120px 0 0 0;
	padding: 35px;
	width: 640px;
}

.main-post-title{
	@include font-size(32);
	margin-bottom: 20px;
}

.blogpost{
	border-bottom: 1px solid #000;
	float: left;
	padding: 20px 0;
}

.publish-date{
	@include font-size(12);
	display: inline-block;
	margin-bottom: 20px;
}

.mainpost-info{
	@include font-size(16);
	margin: 20px 0;
}

.view-more{
	@include font-size(14);
	display: inline-block;
	color: #009eae;
	margin-bottom: 20px;
}

.blogpost-title{
	@include font-size(28);
	margin-bottom: 20px;
}

.blogpost-img{
	background-color: #b4b4b4;
	float: left;
	height: 200px;
	width: 200px
}

.blogpost-info{
	@include font-size(14);
	float: left;
	margin: 20px 0;
}


aside{
	float: right;
	margin-left: 30px;
	width: 285px;
}