nav{
	height: 60px;
	margin: 10px auto;
	width: 100%;
}

.nav-menu{
	height: 100%;
	margin: 0 auto;
	width: $content-width;
}

.nav-item{
	float: left;
	height: 100%;
	list-style: none;
	padding: 5px;
	margin-right: 2%;
	width: 10%;

	a{
		color: $header-font-color;
		@include font-size(15);
		padding: 5px;
		text-decoration: none;
		text-transform: uppercase;
	}

	a:hover{
		background-color: #4bbcc4;
	}
}

.social{
	float: right;
	height: 60px;
	width: 30%;
}

.social-item{
	float: left;
	height: 100%;
	list-style: none;
	width: 20%;

	span{
		color: $header-font-color;
		@include font-size(15);
		text-transform: capitalize;
	}

	i{
		color: $header-font-color;
		@include font-size(30);
	}
}